* {
	box-sizing: border-box;
}

a {
	background-image:url("../img/open-heart.png");
	background-repeat:no-repeat;
	background-size: 14px 14px;
	margin: auto;
	margin-top: 11px;
	width: 14px;
	height: 14px;
	display: block;
}

a:target {
	background-image: url("../img/full-heart.png");
}

body {
	font-size:0px;
	font-family: Helvetica,Arial,sans-serif;
	color: #4294C5;
}

input[type="checkbox"]{
  outline: none;
  border: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 15px;
  z-index:10;
}

input[type="checkbox"]:checked ~ div.shirts-container{
	-webkit-transform:rotateY(180deg);
	transform: rotateY(180deg);
}

/*input[type="checkbox"] ~ img.front{
	-webkit-transform:rotateY(180deg);
	transform: rotateY(180deg);
	transition: .5s;
}*/

input[type="checkbox"]:hover ~ i.spin-icon{ /* have to replace the hover functionality of the icon 
	because we are now placed on top of it */
	background-color: #4294C5;
	color:white;
}


p {
	margin:auto;
	width: 14px;
	font-size: 14px;
	margin-top: 11px;
}

.chosen-color {
	width:16px;
	height:16px;
	margin:auto;
	margin-top: 11px;
}

.color-option:hover > div.chosen-color{
	border:1px solid white;
}

.grid-color {
	width: 16px;
	height: 16px;
	margin: 2px;
}

.grid-color:hover {
	border: 2px solid #4294C5;
}

.grid-row {
	margin: auto;
	width: 40px;
	margin-top: 0px;
	display:flex;
	z-index: 2;
}
.like-option:hover > a{
	background-image: url("../img/white-heart.png");
}

.material-icons {
	margin:auto;
	margin-top: 5px;
	width: 24px;
}

.material-icons.md-18 { 
	font-size: 18px; 
	display: block;
	width: 18px;
	margin-top: 11px;
}

.material-icons.md-18.spin-icon {
	border-left:1px solid #4294C5;
	border-bottom: 1px solid #4294C5;
	position: absolute;
	margin-top: 0;
	top: 0;
	right: 0px;
}

.material-icons.md-18.spin-icon:hover {
	background-color: #4294C5;
	color:white;
}

.options-container {
	display:flex;
	bottom: 0;
}

.pop-option:hover > div.popout{
	opacity:1;
	bottom: 0100%;
}

.popout {
	position:absolute;
	bottom: 120%;
	left: 50%;
	transform: translate(-50%);
	border: 1px solid #4294C5;
	background-color: white;
	z-index: 1;
	width: 135%;
	display: block;
	opacity: 0;
	-webkit-transition: bottom .15s linear;
	transition: bottom .15s linear;
	padding: 5px;
}

.shirt-img {
	position:absolute;
	width: 86%;
	left: 50%;
	-webkit-transform:translateX(-50%)rotateY(0deg);
	transform: translateX(-50%)rotateY(0deg);
	backface-visibility:hidden;
	-webkit-backface-visibility: hidden;
}
.shirt-img.back {
	-webkit-transform:translateX(-50%)rotateY(180deg);
	transform: translateX(-50%)rotateY(180deg);
}

.shirts-container {
	transition: all .25s ease;
	height: 86.5%;
	padding-top: 9%;
	position: relative;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
	backface-visibility:hidden;
	-webkit-backface-visibility: hidden;
}

.sizes-img {
	width: 34px;
	position: relative;
	margin: auto;
	display: block;
	z-index: 2;
}

.popout-notch {
	position: absolute;
	width: 12px;
	height: 12px;
	background-color: white;
	border-bottom: 1px solid #4294C5;
	border-right: 1px solid #4294C5;
	-ms-transform: translate(50px,100px); /* IE 9 */     -webkit-transform: translate(50px,100px); /* Safari */     
	left: 50%;
	bottom: -11px;
	transform: rotate(45deg)translate(-50%);
}

.tee-box {
	position: relative;
	flex:1;
	height: 275px;
	border: 1px solid #4294C5;
	margin: 15px;
}

.tee-option {
	flex: 1;
	z-index: 0;
	/*margin-top: 234px;*/
	border-top: 1px solid #4294C5;
	border-left: 1px solid #4294C5;
	color: #4294C5;
	position: relative;
	padding-bottom: 3%;
}

.tee-option:hover {
	background-color: #4294C5;
	color:white;
}

.tee-option:first-child {
    border-left: 0;
}

.tees-container {
	display:flex;
	width: 800px;
	margin: auto;
}

#block1 {
	background-color: #4294FE;
}

#block2 {
	background-color: #D482AA;
}

#block3 {
	background-color: #DBB07D;
}

#block4 {
	background-color: #5CE65C
}